<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bittereggs.login_8001.mapper.LoginMapper">
    <insert id="add" parameterType="com.bittereggs.login_8001.entity.User">

        insert into user
        (username,password,cellphone,type)
        values
        (#{username},#{password},#{cellphone},#{type})

    </insert>

    <insert id="addworkroominfo" parameterType="java.lang.String">

        insert into workroom_info (workroom_username) values (#{username})

    </insert>
    
    <insert id="addenterpriseinfo" parameterType="java.lang.String">

        insert into enterprise_info (company_username) values (#{username})

    </insert>

    <select id="findByphone" parameterType="java.lang.String" resultType="com.bittereggs.login_8001.entity.User">

        select * from user where cellphone = #{phone}

    </select>

    <select id="findByName"
            parameterType="java.lang.String"
            resultType="com.bittereggs.login_8001.entity.User">

        select * from user where username = #{name}

    </select>

    <update id="resetpassword" parameterType="com.bittereggs.login_8001.entity.User">

        UPDATE `user` SET `password` = #{password} WHERE username = #{username}

    </update>

    <insert id="setpaypassword" parameterType="java.lang.String">
        insert into payinfo (username,paypassword) values (#{username},#{paypassword})
    </insert>

    <select id="adminlogin" parameterType="com.bittereggs.login_8001.entity.Admin" resultType="com.bittereggs.login_8001.entity.Admin">

        select * from admin where username =#{username}

    </select>

</mapper>