<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bittereggs.money.mapper.ADMapper">
    <insert id="applyAD" parameterType="com.bittereggs.money.entity.Advertisement">
        insert into advertisement_auditing
          (username,start_time,end_time,image_path,link,state,`type`)
        values
          (#{username},#{start_time},#{end_time},#{image_path},#{link},#{state},#{type});
    </insert>
</mapper>